footer {
    color: black;
    width: 100%;
    height: auto;
    padding: 10px 0;
    background: #e4e5e6;
}
.copyright p {
    margin: 0;
    font-size: 15px;
    line-height: 34px;
    color: black;
}
.social-icon {
    line-height: 2;
}
.social-icon span {
    padding-left: 20px;
    font-size: 18px;
    color: #6D757D;
}
.social-icon a span:hover{
  color: blue;
}