.registation .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}

.registation .row .link{
    margin-top: 15px;
}
.registation .row form a{
    color:var(--black);
    padding-bottom: 1rem;
    font-size: 1.5rem;
    text-align: start;
    text-decoration: none;
}

.registation .row form{
    flex:1 1 45rem;
    background: #fff;
    border:var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
}
.registation .row form .box{
    width: 100%;
    margin:.7rem 0;
    border-radius: .5rem;
    border:var(--border);
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    padding: 1rem;
}

.registation .row form .btn{
    padding:1rem 4rem;
}
.registation .row .share{
    margin-top: 10px;
}

.registation .row .share a{
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2.3rem;
    color:var(--green);
    border-radius: .5rem;
    border:var(--border);
    margin:.3rem;
    padding: 5px 8px;
}

.registation .row .share a:hover{
    background:var(--green);
    color:#fff;
    box-shadow: var(--box-shadow);
}